@font-face {
  font-family: "impact";
  src: url('./fonts/impact.ttf') format('truetype');
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Titillium Web', sans-serif;
}
nav{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #050505;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 57px;
  z-index: 100;
  padding: 0 20px;
}
nav > ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 70%;
}
nav > ul > li {
  line-height: 27px;
  min-width: 70px;
  text-align: center;
}
@media screen and (max-width: 600px){
  nav > ul {
    display: none;
  }
}
@media screen and (max-width: 450px){
  nav {
    display: none;
  }
  .for-nav{
    display: none;
  }
}
nav > ul > li.active {

}
nav > ul > li.active {
	position: relative;
	background: #;
	border-bottom: 2px solid #FF0000;
}
nav > ul > li.active:after, nav > ul > li.active:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

nav > ul > li.active:after {
	border-color: rgba(0, 0, 0, 0);
	border-top-color: #;
	border-width: 6px;
	margin-left: -6px;
}
nav > ul > li.active:before {
	border-color: rgba(255, 0, 0, 0);
	border-top-color: #FF0000;
	border-width: 9px;
	margin-left: -9px;
}
nav > ul > li > a {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
}
nav > ul > li > a:hover{
  color: #fff;
}

.home{
  min-height: 1000px;
  background-image: url(./img/home-bg-1.jpg);
  padding-bottom: 60px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.electrical {
  background-image: url(./img/electrical-bg-1.jpg);
  min-height: 700px;
}
.software {
  background-image: url(./img/software-bg-1.jpg);
  min-height: 700px;
}

/* Home */
.home, .software, .electrical {
    background-attachment: fixed;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.home-part-1{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.home-part-1 .home-title {
  display: flex;
  flex-wrap: wrap;
  margin-left: 15px;
  font-size: 20px;
  line-height:24px;
    margin-top: -30px;
}
.home-part-1 .home-logo-color-img{
  max-width:90%;
  text-align: center;
}
@media screen and (min-width: 750px) {
  .home-part-1 .home-title {
    margin-left: 40px;
    font-size: 27px;
    line-height: 32px;
    margin-top: -50px;
  }
  .home-part-1 .home-logo-color-img{
    margin-left:70px;
    max-width:650px;
  }
  .home-part-2 .about-us {

  }
.home-part-2 .about-us  .what-we-do,.home-part-2 .about-us .our-mission{
  width: 48%;
}
}
.home-part-2 {
  display: flex;
  justify-content: center;
  padding: 0 50px;
}
.about-us {
  display: flex;
  width: 100%;
  max-width: 1100px;
  background-color: #F2F0EE;
  padding: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 550px) {
  .about-us {
    background-color: transparent;
  }
}
.what-we-do, .our-mission{
  width: 90%;
  text-align: left;
}
@media screen and (max-width: 750px) {
  .home-part-2 {
    padding: 0 5px;
  }
  .about-us {
    padding: 10px;
  }
  .what-we-do, .our-mission{
    width: 90%;
    text-align: left;
  }
  .what-we-do {
    margin-bottom: 20px;
  }
  .vertical-line-about{
    display: none;
  }
}

.vertical-line-about{
  padding: 10px 0;
}
.vertical-line-about {
  width: 2px;
  background-color: #C5B92D;
}
.what-we-do h4, .our-mission h4{
  font-size: 22px;
  line-height: 26px;
  font-weight: lighter;
  margin-bottom: 15px;
}
.what-we-do p, .our-mission p{
  font-size: 16px;
  line-height: 19px;
}
.clients-list ul li, .partner-list ul li{

}
@media screen and (max-width: 850px) {
  .clients-list ul li{
    min-width: 22%;
  }
}
@media screen and (max-width: 650px) {
  .partner-list ul li{
  min-width: 33%;
  }
}
/* Electrical */
.electrical {
  padding: 60px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.electrical-info {
  width: 100%;
  display: flex;
  justify-content: center;
}
.electrical-transparent-info{
  max-width: 1000px;
  padding: 30px 50px;
  background-color: #343434;
  opacity: 0.8;
}
.electrical-transparent-info-inner p{
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  margin-bottom: 20px;
}
.electrical-property-list{
  padding: 0 40px;
}
.electrical-property-list ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
}
.electrical-property-list ul li{
  width: 48%;
  color: #fff;
  font-size: 20px;
  line-height: 40px;
  padding-left: 30px;
  position: relative;
}
.electrical-property-list ul li .yellow-circle {
  position: absolute;
  left: 10px;
  top: 15px;
  width: 10px;
  height: 10px;
  background-color: #C5B92D;
  border-radius: 50%;
}
@media screen and (max-width: 850px) {
  .electrical-transparent-info{
    padding: 15px;
    background-color: transparent;
  }
  .electrical-property-list{
    padding: 0 20px;
  }
  .electrical-property-list ul li{
    width: 90%;
  }
}
/* Requirement From */

.requirement{
  padding: 15px 0;
  background-color: #fff;

}
.requirement-title, .requirement-text {
  text-align: center;
}
.requirement-title{
  color: #C5B92D;
  font-size: 24px;
  line-height: 28px;
}
.requirement-text, .requirement-name{
  font-size: 17px;
  line-height: 20px;
}
form .form-fields{
  display: flex;
  justify-content: space-around;
  max-width: 1000px;
  margin: 0 auto;
  flex-wrap: wrap;
  position: relative;
  padding-bottom:60px;
  padding-top: 40px;
}
form .form-fields .requirement-name{
  width: 32%;
}
form .form-fields .requirement-name p{
  text-align: left;
}
form .form-fields .requirement-name input{
  border: 1px solid #444;
  height: 45px;
  width: 100%;
  outline: 0;
  padding-left: 10px;
}
.form-button{
  position: absolute;
  right: 2px;
  bottom: 0px;
  width: 120px;
  height: 40px;
  text-align: center;
  background-color: #616161;
  border: 0;
  border-radius: 0;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  cursor: pointer;
}
@media screen and (max-width: 650px) {
  form .form-fields .requirement-name{
    width: 70%;
    margin-bottom: 15px;
  }
  .form-button {
    right: 15%;
  }
}

/* software */
.software-heading{
  padding-top:40px;
  font-family: "impact", sans-serif;
}
.software-inner{
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  color: #fff;
}
.software-first-part{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.software-first-part-text{
  background-color: rgba(48,44,42,0.5);
  width: 80%;
  padding: 30px;
  font-size: 19px;
  line-height: 21px;
}
.software-second-part{
  width: 60%;
  display: flex;
  position: relative;
}
.software-second-part-mobile{
  display: none;
}
.software-second-part img{
  width: 100%;
}
.text-in-screen-background{
  background-color: rgba(68,64,62,0.5);
  left: 6%;
  right: 9%;
  top: 13%;
  bottom: 33%;
  position: absolute;
}
.text-in-screen{
  position: absolute;
  left: 10%;
  right: 10%;
  top: 15%;
  bottom: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
}
.text-in-screen-heading{
  display: flex;
  flex-wrap: wrap;
}
.text-in-screen-heading p{
  text-align: center;
  font-size: 52px;
  line-height: 62px;
  font-family: 'Ultra-Regular';

}
.text-in-screen-list {

}
.text-in-screen-list-group{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}
.text-in-screen-list-item {
  width: 46%;
  font-size: 20px;
  line-height: 24px;
  padding: 3px 0;
  padding-left: 30px;
  text-align: left;
  position: relative;
}
.red-circle {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 10px;
  height: 10px;
  background-color: #FF0000;
  border-radius: 50%;
}
@media screen and (max-width: 900px) {
  .text-in-screen-heading p{
    font-size: 35px;
    line-height: 40px;
  }
  .text-in-screen-list-item {
    font-size: 18px;
    line-height: 20px;
    padding: 3px 0;
    padding-left: 30px;
  }
  .software-first-part-text{
    width: 90%;
    padding: 20px;
    font-size: 17px;
    line-height: 20px;
  }
}
@media screen and (max-width: 839px) {
  .text-in-screen-heading p{
    font-size: 30px;
    line-height: 36px;
  }
  .text-in-screen-list-item {
    font-size: 16px;
    line-height: 20px;
    padding: 3px 0;
    padding-left: 30px;
  }
  .software-first-part-text{
    width: 94%;
    padding: 15px;
    font-size: 16px;
    line-height: 22px;
  }
}
@media screen and (max-width: 760px) {
  .software-heading{
    padding-bottom:40px;
  }
  .software-inner {
    justify-content: center;
  }
  .software-first-part{
    width: 80%;

  }
  .software-second-part{
    width: 90%;
  }
  .text-in-screen-heading p{
    font-size: 35px;
    line-height: 40px;
  }
  .text-in-screen-list-item {
    font-size: 18px;
    line-height: 20px;
    padding: 3px 0;
    padding-left: 30px;
  }
  .software-first-part-text{
    width: 90%;
    padding: 20px;
    font-size: 17px;
    line-height: 20px;
  }
}
@media screen and (max-width: 540px) {
  .software-heading{
    padding-bottom:40px;
  }
  .software-inner {
    justify-content: center;
  }
  .software-first-part{
    width: 90%;

  }
  .software-second-part{
    width: 96%;
  }
  .text-in-screen-heading p{
    font-size: 32px;
    line-height: 36px;
  }
  .text-in-screen-list-item {
    font-size: 16px;
    line-height: 20px;
    padding: 3px 0;
    padding-left: 30px;
  }
  .software-first-part-text{
    width: 90%;
    padding: 20px;
    font-size: 17px;
    line-height: 20px;
  }
}

@media screen and (max-width: 430px) {
  .software-second-part-mobile{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
  }
  .software-second-part-mobile > div {
    margin: 10px 0;
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: center;
  }
  .software-second-part-mobile-text p{
    font-size: 52px;
    line-height: 60px;
    font-weight: bolder;
    font-family: ultra;
  }
  .software-second-part-mobile-img img{
    height: 200px;
  }
  .text-in-screen-list-group{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
  }
  .text-in-screen-list-item{
    width: 80%;
    font-size: 18px;
    line-height: 24px;
    padding: 3px 0;
    padding-left: 35px;
    position: relative;
    font-weight: bold;
  }
  .software-second-part{
    display: none;
  }
}

 /* Contact form*/

.form-contact-detail{
    width:100%;
    max-width:1000px;
    display:flex;
    flex-wrap:wrap;
    margin: 0 auto;
    justify-content: center;
  }
.contact-detail{
  width: 40%;
  display:flex;
}
.contact-detail-data{
  flex:2;display:flex;flex-direction:column;justify-content:center;
}
.contact-detail-data > ul {
  list-style:none;font-size:17px;line-height:20px;display:flex;flex-direction:column;justify-content:center;align-items:flex-end;
}
.contact-detail-data > ul > li {
  display:flex;margin: 10px 0;width:142px;justify-content:space-between
}

.contact-detail-data > ul > li .contact-detail-data-main-data {
  display:flex;flex-direction:column;
}
.vertical-line-form{
  flex:1;display:flex;justify-content:center;align-items:center;
}
.contact-form{
  width:60%;
  position:relative;
  padding-bottom: 46px;
}
.contact-form > form.contact-form-form {
  max-width: 615px;display:flex;
  justify-content: center;
}
.contact-form > form.contact-form-form > .my-form {
  display:flex; justify-content:flex-start;
  flex-wrap: wrap;
}
.myform-part1{
  padding-right: 15px;
}
.myform-part1{
  padding:0 10px;
}
@media screen and (max-width: 839px) {
  .contact-detail{
    width: 80%;
  }
  .contact-detail-data > ul{
    flex-direction: row;
    margin-bottom: 30px;
    flex-wrap: wrap;
  }
  .contact-detail-data > ul > li {
    margin: 10px 20px;
  }
  .vertical-line-form{
    display: none;
  }
  .contact-form{
    width: 80%;
  }
}
@media screen and (max-width:780px) {
  .myform-part1, .myform-part2 {
    width: 90%;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  .contact-form > form.contact-form-form > .my-form {
    justify-content: center;
  }
}
